# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
vendor/* linguist-vendored

# Sets a consistent line ending for all files in this repository. This setting will automatically handle line ending conversions for you. It will convert line endings to LF on commit and checkout, and it will convert them to your system's native line endings when you check out the code.
* text=auto
